.cover__link {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 740px;
  color:white;
}

.cover__link::before {
  content: "";
  background-image: url(../../../images/trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: opacity .3s;
}

.cover__link:hover::before {
  opacity: .3;
}

@media screen and (max-width: 1279px) {
  .cover__link {
      min-height: 640px;
  }
}
@media screen and (max-width: 1023px) {
  .cover__link {
      min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
      min-height: 320px;
  }
}

@media screen and (max-width: 400px) {
  .cover__link {
      min-height: 200px;
  }
}
