.page {
  margin: 0;
  padding: 0 48px;
  max-width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2a2c2f;
  color: white;
}

@media screen and (max-width: 768px) {
  .page {
      margin: 0;
      padding: 0;
  }
}
