.card__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
  padding: 0 0 25px 0;
}

.card__paragraph:last-of-type {
  padding: 0;
}

@media screen and (max-width: 770px) {
  .card__paragraph {
    font-size: 1em;
    line-height: 26.08px;
  }
}
