div, h1, h2, h3, h4, h5, p, tr, td, ul, li, a, section, img, blockquote, nav {
  border: red 0.1px solid;
}

p {
  margin: 0;
}

/* .header {
  background-color: rgba(250, 0, 0, .3);
}

.lead {
  background-color: rgba(17, 245, 245, 0.7);
}

.intro {
  background-color: rgba(230, 0, 0, .5);
}

.photo-grid {
  background-color: rgba(0, 0, 200, .3);
}

.places {
  background-color: rgba(250, 0, 250, .3);
}

.cover {
  background-color: rgba(58, 250, 0, 0.6);
}

.footer {
  background-color: rgba(0, 0, 0, .3);
}
*/

/* .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  justify-items: center;
  align-items: center;
} */

.gallery__item {
  margin: 0;
  padding: 0;
}



.content {
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}


