.header {
  max-width: 1184px;
  width: calc(100% - 48px*2);
  max-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  padding: 28px 0 48px 0;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 24px 0 28px 0;
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 16px 0 16px 0;
    width: calc(100% - 16px*2);
  }
}
