.logo {
  width: 176px;
  min-height: 52px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  background-image: url(../../images/__logo.svg);
}

@media screen and (max-width: 400px) {
  .logo {
    max-width: 142px;
  }
}
