.card__description {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
}

@media screen and (max-width: 676px) {
  .card__description {
      width: 90%;
      padding-left: 16px;
  }
}

