.lead__subtitle {
  max-width: 640px;
  margin: 32px 0 64px;
  padding: 0 50px 0 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 544px) {
  .lead__subtitle {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 474px) {
  .lead__subtitle {
    font-size: 1em;
    padding: 0;
  }
}
