.cover__title {
  text-align: center;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  max-width: 560px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 250px;
    font-size: 2em;
    line-height: 35px;
  }
}
