.card {
  display: grid;
  grid-template-columns: minmax(320px, 460px) 1fr;
  grid-template-rows: min-content;
  max-width: 1184px;
  justify-content: center;
  margin-bottom: 80px;
  row-gap: 48px;
  column-gap: 3%;
}

.card:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .card {
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 850px) {
  .card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
  }
}

@media screen and (max-width: 676px) {
  .card {
      grid-template-columns: 1fr;
      gap: 32px 0px;
      margin-bottom: 50px;
  }
}
