.card {
  display: grid;
  grid-template-columns: minmax(320px, 460px) 1fr;
  grid-template-rows: content min-content;
  max-width: 1184px;
  justify-content: center;
  margin-bottom: 80px;
  row-gap: 48px;
  column-gap: 3%;
}
